<form class="form" action="/myForm" method="post">

  <label for="name" class="form-item">
    Add Name:
    <input type="text" name="name" value="{{name}}">
    Add Age:
    <input type="text" name="age" value="{{age}}">
    Add E-mail:
    <input type="text" name="email" value="{{email}}">
    Add photo:
    <input type="text" name="image" value="{{image}}">
  </label>



  <input type="submit" name="" value="Submit">
</form>
