<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <ul>
    {{#each users}}
      <li><a href="{{id}}">{{name}} ({{email}})</a></li>
    {{/each}}
    </ul>
    <a href="/form">Add your profile here!</a>
  </body>
</html>
